@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Tektur:wght@400..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "Wagon-Bold";
  src: url('./assets/fonts/Wagon-Bold.otf') format('opentype');
}


:root {
  font-family: "Pixelify Sans", sans-serif;
  color-scheme: dark;
}

.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.tektur-font{
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.wagon-font {
  font-family: 'Wagon-Bold';
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.pixel-corner-button2 {
position: relative;
border: 2px solid transparent; /* Transparent border for styling purposes */
cursor: pointer;
outline: none;
transition: all 0.3s ease;
}

.pixel-corner-button2::before,
.pixel-corner-button2::after {
content: '';
position: absolute;
width: var(--size-pixel);
height: var(--size-pixel);
background: var(--pixel-bg); /* Color for the pixel effect */
z-index: 1;
transition: all 0.3s ease;
}

.pixel-corner-button2::before {
top: -4px;
left: -4px;
}

.pixel-corner-button2::after {
bottom: -4px;
right: -4px;
}

.pixel-corner-button2:hover {
background-color: var(--pixel-hover-bg); /* Hover effect to change the background */
}


.pixel-corner-button2:hover::before,
.pixel-corner-button2:hover::after {
transform: scale(1.5);
}

